.transparent-button-caret.mdc-button.mat-mdc-button-base {
  padding: 5px;
  height: 88px;
  border-color: transparent;
  border-radius: 0;
  border-bottom-width: 2px;
  transition: all 0.2s;
  --mat-mdc-button-persistent-ripple-color: none;
  .mat-icon {
    width: 24px;
    height: 24px;
  }
  .text  {
    transition: all 0.3s;
  }
}

@media (max-width: 768px) {
  .transparent-button-caret.mdc-button.mat-mdc-button-base {
    padding: 0 5px 32px;
    height: 52px;
    .text {
      font-size: 1rem;
    }
  }
}