.icon-left-button.mat-mdc-button.mat-mdc-button-base {
  padding: 5px;
  height: 34px;
  --mat-mdc-button-persistent-ripple-color: none;
  .mat-icon {
    width: 24px;
    height: 24px;
  }
  .text  {
    padding-top: 1px;
    transition: all 0.3s;
  }
}

.icon-left-button.mat-mdc-button .mat-mdc-button-touch-target {
  height: 34px;
}