<!-- <mat-sidenav-container class="theme-dark">
  <mat-card>ok</mat-card>
  <div class="wrapper">
    <mat-card>
      test
      <div>Hello1</div>
    <div>Hello2</div>
    <div>Hello3</div>
    <div>Hello4</div>
    <div>Hello5</div>
    <div>Hello6</div>
    </mat-card>
  </div>
</mat-sidenav-container> -->
<div class="wrap">
<mat-toolbar mat-color="primary-900">
  <span>My Website</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <router-outlet></router-outlet> -->
    <mat-card class="">
      <span class="mat-headline-4">Display</span>
      <h1>Title 1</h1>
      <h2>Title 2</h2>
      <h3>Title 3</h3>
      <h4>Title 4</h4>
      <h5>Title 5</h5>
      <h6>Title 6</h6>
      <p class="bigger-text">Bigger text</p>
      <p>Standard text</p>
      <p class="small-text">Smaller text</p>
      <p class="mat-small">small caption</p>
    </mat-card>
    <mat-card>
      some content
    </mat-card>
    <mat-card>
      some content
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<div>
  <span>&copy; 2023 My Website</span>
</div>
</div>