// $accent-palette: (
$primary-palette: (
  50: #e2f2ff,
  100: #b9ddff,
  200: #8ac8ff,
  300: #56b2ff,
  400: #25a1ff,
  500: #0091ff,
  600: #0083f8,
  700: #5367FF,
  800: #005fd2,
  900: #0b3eb3,
  contrast: (
    50: rgba(#5367FF, 1),
    100: rgba(#5367FF, 1),
    200: rgba(#5367FF, 1),
    300: rgba(white, 1),
    400: rgba(white, 1),
    500: rgba(white, 1),
    600: rgba(white, 1),
    700: rgba(white, 1),
    800: rgba(white, 1),
    900: rgba(white, 1),
  )
);

$accent-light-palette: (
  50: #e2f2ff,
  100: #b9ddff,
  200: #8ac8ff,
  300: #56b2ff,
  400: #25a1ff,
  500: #0091ff,
  600: #0083f8,
  700: #5367FF,
  800: #005fd2,
  900: #0b3eb3,
  contrast: (
    50: rgba(#5367FF, 1),
    100: rgba(#5367FF, 1),
    200: rgba(#5367FF, 1),
    300: rgba(white, 1),
    400: rgba(white, 1),
    500: rgba(white, 1),
    600: rgba(white, 1),
    700: rgba(white, 1),
    800: rgba(white, 1),
    900: rgba(white, 1),
  )
);

$accent-dark-palette: (
  50: #f6f7fe,
  100: #edeef5,
  200: #e1e3e9,
  300: #cfd1d7,
  400: #abacb2,
  500: #8a8b91,
  600: #626469,
  700: #505156,
  800: #323338,
  900: #121318,
  contrast: (
    50: rgba(#5367FF, 1),
    100: rgba(#5367FF, 1),
    200: rgba(#5367FF, 1),
    300: rgba(white, 1),
    400: rgba(white, 1),
    500: rgba(white, 1),
    600: rgba(white, 1),
    700: rgba(#9295A6, 1),
    800: rgba(#9295A6, 1),
    900: rgba(#9295A6, 1),
  )

);

$neutral-palette: (
  50: #F7F8FA,
  100: #F0F1F5,
  200: #E9EAF0,
  300: #CCCED9,
  400: #AEB1BF,
  500: #9295A6,
  600: #6C7080,
  700: #545766,
  800: #262833,
  900: #090A0D,
  contrast: (
    50: rgba(black, 1),
    100: rgba(#F0F1F5, 1),
    200: rgba(#5367FF, 1),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(white, 1),
    700: rgba(white, 1),
    800: rgba(white, 1),
    900: rgba(white, 1),
  )
);

$success-palette: (
  50: #ECFDF5,
  100: #D1FAE5,
  200: #A7F3D0,
  300: #6EE7B7,
  400: #34D399,
  500: #10B981,
  600: #059669,
  700: #047857,
  800: #065F46,
  900: #064E3B,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);

$warn-palette: (
  50: #ECFDF5,
  100: #D1FAE5,
  200: #A7F3D0,
  300: #6EE7B7,
  400: #34D399,
  500: #10B981,
  600: #059669,
  700: #047857,
  800: #065F46,
  900: #064E3B,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);