
@use '@angular/material' as mat;
@use 'app/shared/styles/custom-palette.scss' as custom-palette;

@use 'app/shared/icons/icons-theme' as icons;

@include mat.core();

// Define the palettes for theme
$primary-palette: mat.define-palette(custom-palette.$primary-palette, 700);
$neutral-palette: mat.define-palette(custom-palette.$neutral-palette);
$warn-palette: mat.define-palette(custom-palette.$warn-palette);

// $success-palette: mat.define-palette(custom-palette.$success-palette);

// headline-4 = Display
// headline-5 = h1
// headline-6 = h2
// subtitle-1 = h3
// subtitle-2 = h4
// body-2 = p2 text, .mat-body or .mat-body-2
// caption = .mat-caption
// h5, h6 and 2 more paragraph styles will be specified in scss styles since angular does not provide proper styling method in define-typography-config
$my-custom-typography-config: mat.define-typography-config(
  $font-family: Inter,
  $headline-4: mat.define-typography-level(60px, 72px, 700),
  $headline-5: mat.define-typography-level(48px, 1.17, 600),
  $headline-6: mat.define-typography-level(39px, 1.2, 500),
  $subtitle-1: mat.define-typography-level(33px, 1.21, 500),
  $body-1: mat.define-typography-level(27px, 1.24, 400),
  $body-2: mat.define-typography-level(16px, 1.4, 400),
  $caption: mat.define-typography-level(12px, 1.5, 400),
  $button: mat.define-typography-level(16px, 1.45, 400),
);

// Create the theme object
$theme-dark: mat.define-dark-theme((
  color: (
    primary: $primary-palette,
    accent: $neutral-palette,
    warn: $warn-palette,
  ),
  typography: $my-custom-typography-config,
));

$theme-light: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $neutral-palette,
    warn: $warn-palette,
  ),
  typography: $my-custom-typography-config,
));

// Change app BG for dark theme
// Get color param from our theme
$palette-color : map-get($theme-dark, color);
// Get background param from color param
$background: map-get($palette-color, background);
// $background also has background param contains color, set it to red (for example)
$background: map_merge($background, (background: #080808));
// Set background param for palette
$palette-color: map_merge($palette-color, (background: $background));
// Set palette for theme
$theme-dark: map_merge($theme-dark, (color: $palette-color));

// Change app BG for light theme
$palette-color-light : map-get($theme-light, color);
$background-light: map-get($palette-color-light, background);
$background-light: map_merge($background-light, (background: #E6E9F1));
$palette-color-light: map_merge($palette-color-light, (background: $background-light));
$theme-light: map_merge($theme-light, (color: $palette-color-light));

@include mat.typography-hierarchy($my-custom-typography-config);

@include mat.all-component-themes($theme-dark);
@include icons.theme($theme-dark);
.theme-light {
  @include mat.all-component-colors($theme-light);
}



