.header-button.mat-mdc-button.mat-mdc-button-base {
  padding: 20px 21px;
  height: 64px;
  border: 1px solid transparent;
  border-radius: 5px;
  --mat-mdc-button-persistent-ripple-color: none;
  .mat-icon {
    margin-right: 23px;
    width: 24px;
    height: 24px;
  }
  .text  {
    padding-top: 1px;
    transition: all 0.3s;
  }
}
